@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

/* Variables */
:root {
	/* Colours */
	--dark-cyan: hsl(158, 36%, 37%);
	--dark-cyan-hover: hsla(157, 43%, 18%, 1);
	--cream: hsl(30, 38%, 92%);
	--very-dark-blue: hsl(212, 21%, 14%);
	--dark-grayish-blue: hsl(228, 12%, 48%);
	--white: hsl(0, 0%, 100%);

	/* Fonts */
	--montserrat: 'Montserrat', sans-serif;
	--fraunces: 'Fraunces', serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background-color: var(--cream);
	font-size: 14px;
	font-family: var(--montserrat);
	color: var(--dark-grayish-blue);
	position: relative;
}

main {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.card-container {
	max-width: 600px;
	max-height: 450px;
	background-color: var(--white);
	display: flex;
	border-radius: 15px;
	overflow: hidden;
}

.img-container {
	width: 50%;
	background-image: url('./images/image-product-desktop.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.product-container {
	width: 50%;
	padding: 32px;
}

.product-container > * {
	margin: 13px 0;
}

.product-container span {
	font-size: 12px;
	font-weight: 500;
	line-height: 14.6px;
	letter-spacing: 5px;
}

.product-container h2 {
	font-family: var(--fraunces);
	font-weight: 700;
	font-size: 32px;
	line-height: 32px;
	color: var(--very-dark-blue);
	margin: 20px 0;
}

.product-container p {
	font-weight: 500;
	line-height: 23px;
	margin: 24px 0;
}

.price-container {
	display: flex;
	align-items: center;
	margin: 29px 0;
}

.sale-price {
	font-family: var(--fraunces);
	font-weight: 700;
	font-size: 32px;
	line-height: 32px;
	color: var(--dark-cyan);
}

.usual-price {
	font-weight: 500;
	font-size: 13px;
	line-height: 23px;
	margin-left: 20px;
	text-decoration: line-through;
}

.cart-btn {
	width: 100%;
	border: none;
	font-weight: 700;
	color: white;
	line-height: 17px;
	border-radius: 12px;
	cursor: pointer;
	background-color: var(--dark-cyan);
	padding: 15px 0;
	display: flex;
	justify-content: center;
	margin: 32px 0;
}

.cart-btn:hover {
	background-color: var(--dark-cyan-hover);
}

.cart-btn img {
	margin-right: 11px;
}

.attribution {
	font-size: 11px;
	text-align: center;
	margin: 15px;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}
